// --------------------------------------------------
// Colors
// --------------------------------------------------
$white: #FFF;
$black: #000;

// --------------------------------------------------
// Typography
// --------------------------------------------------

$base-font-size: 16px;
$primary-font: 'Helvetica', 'Arial', sans-serif;

// --------------------------------------------------
// Layout
// --------------------------------------------------

$grid-gutter: 12px;
$content-width: 1040 + $grid-gutter * 2;
